/**
 * Dialog-X
 */

@import '../../styles/variables';
@import '../../styles/mixin';

:host {
  @include modal;
  background: $white;
  min-width: 420px;
  min-height: 280px;
  padding: 12px;
}

.modal-header {
  color: $text-color-hint;
  font-size: 24px;
  padding-top: 24px;
  padding-left: 14px;
}

.modal-content {
  padding-left: 14px;
  padding-top: 40px;
}

.modal-close-icon {
  @include hoverCursor;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 20px;
}
