@import '../../styles/mixin';

.checkbox {
  @include hoverCursor;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 18px;
  line-height: 18px;
  text-align: left;
  padding-left: 22px;

  span.checked {
    background: $blue;
    color: $white;
    border-color: $blue;
  }

  span{
    position: absolute;
    left: 0;
    top: -2px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    background: #f8f8f8;
    border: 2px solid $form-border-color-checkbox;
    box-sizing: border-box;
    text-align: center;
  }

  &.disabled {
    span.checked {
      @include getNormalTheme(disabled);
    }
  }
}
